{{set . "title" "Offices"}}
{{template "header.html" .}}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h2 class="text-center">Offices </h2>
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="/admin/index"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li class="active">Offices</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">

                    <div class="panel-body">
                        <div class="adv-table editable-table ">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="#myModal" data-toggle="modal" class="btn btn-primary">
                                        Add New <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                <thead>
                                <tr>
                                    <th>StoreID</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Products nbr</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range .stores}}
                                <tr id="{{.StoreID}}">
                                    <td  class="center">{{.StoreID}}</td>
                                    <td  class="center">{{.Name}}</td>
                                    <td  class="center">{{.Address}}</td>
                                    <td  class="center">0</td>
                                    <td  class="center">
                                        <a href="/adm/stores/{{.StoreID}}"><i class="fa fa-eye pointer"></i></a>
                                        <i class="fa fa-edit pointer"></i>
                                        <i class="fa fa-remove pointer delete-row"></i>
                                    </td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </section>
    </section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center"> Add new store</h4>
            </div>

            <div class="modal-body row">

                <div class="col-md-5 img-modal">
                    <img src="/public/dashboard/images/gallery/image1.jpg" alt="">
                    <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Image</a>
                    <a href="#" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View Full Size</a>

                </div>
                <form class="form-signin"  method="POST" action="{{url "Store.SubmitStore"}}" style="display:inline">
                <div class="col-md-7">
                    <div class="form-group">
                        <label> Name</label>
                        <input id="name" class="form-control" name="name" required="true">
                    </div>
                    <div class="form-group">
                        <label> Description</label>
                        <textarea id="description" rows="2" name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label> Address</label>
                        <input id="address"  class="form-control" name="address" required="true">
                    </div>
                    <div class="form-group">
                        <label> Post Code</label>
                        <input id="postcode"  class="form-control" name="postcode" required="true">
                    </div>
                    <div class="form-group">
                        <label> City</label>
                        <input id="city"  class="form-control" name="city" required="true">
                    </div>
                    <div class="form-group">
                        <label> Country</label>
                        <input id="country"  class="form-control" name="country" required="true">
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- modal -->


{{template "footer.html" .}}

<script src="/public/dashboard/js/jquery.js"></script>
<script type="text/javascript" src="/public/dashboard/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/dashboard/js/data-tables/DT_bootstrap.js"></script>

<!--script for this page only-->
<script src="/public/dashboard/js/table-editable.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
