{{set . "title" "Office"}}
{{template "header.html" .}}

<link rel="stylesheet" href="/public/dashboard/css/jquery.steps.css">

<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h2 class="text-center">{{.store.Name}} </h2>
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li class="active">Office</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>
    <section>
        <div id="contacts">
            <div class="row">
                <div class="col-md-6">
                    <div class="prf-contacts">
                        <h2> <span><i class="fa fa-map-marker"></i></span> location</h2>
                        <div class="location-info">
                            <p>Postal Address<br>
                                {{.store.Address}}</p>

                        </div>
                        <h2> <span><i class="fa fa-phone"></i></span> contacts</h2>
                        <div class="location-info">
                            <p>Phone	    : +61 3 8376 6284 <br>
                            <p>Email		: contact@myoffice.com<br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </section>
    </section>
</section>


{{template "footer.html" .}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
    <script>

    //google map
    function initialize() {
        var myLatlng = new google.maps.LatLng({{.store.Latitude}}, {{.store.Longitude}});
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: {{.store.Name}}
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

$('.contact-map').click(function(){

    //google map in tab click initialize
    function initialize() {
        var myLatlng = new google.maps.LatLng({{.store.Latitude}}, {{.store.Longitude}});
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: {{.store.Name}}
        });
    }
    google.maps.event.addDomListener(window, 'click', initialize);
});

</script>